* {
    font-family: Helvetica, Arial, sans-serif;
  }
   
body {
    background-color: lightskyblue;
}   

h1 {
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
  }
h2 {
    font-size: 30px;
    font-style: italic;
}
   
p, li {
    font-size: 18px;
  }
   
a[href]:hover {
    color: red;
}
