* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    list-style-position: inside;
  }
   
   
  h1 {
    color: SeaGreen;
  }
   
   
  p, 
  li {
    font-size: 18px;
  }
   